body{
    margin: 0;
    padding: 0;
    background: gray;
}
.taza{
    position: absolute;
    height: 300px;
    width: 250px;
    z-index: 5;
    top: 30%;
    left: 40%;
    background-image: linear-gradient(to top,#ffac33, #faca2ccc );
    border: 6px solid #fff;
    border-top: 0px solid transparent;
    border-bottom: 15px solid #fff;
    border-right: 11px solid #fff;
    border-left:11px solid #fff;
    border-bottom-left-radius: 50px; 
    border-bottom-right-radius: 50px; 
    box-sizing: border-box;
}
.taza::after{
    content: '';
    position: absolute;
    height: 150px;
    width: 60px;
    top: 70px;
    left: 238px;
    background: grey ;
    z-index: 4;
    border: 15px solid #ffffff;
    border-left: 1px solid transparent; 
    border-radius: 90px;
}
.lineas {
    position: absolute;
    z-index: 5;
    left: 10px;
    top: 45px;
  }

  .lineas.linea {
    width: 1rem;
    height: 8rem;
    background: #ffb73b;
    background-image: linear-gradient(to top, #FFCC4D 0%, #ffb73b 100%);
    border-radius: 0.50rem;
    box-shadow: 0 0.1rem 0.1rem 0.1rem #cf762f;
  }
  .lineas:nth-child(2) {
    left: 6rem;
  }
  .lineas:nth-child(3) {
    left: 11rem;
  }
  
.espumas{
    position: absolute;
    z-index: 5;
    background: #ffffff;
    top: 23%;
    left: 39%;
}
.espumas.espuma {
    width: 6rem;
    height: 7rem;
    background-image: linear-gradient(to top, #ffffff 0%, #e1e8ed 100%);
    border-radius: 800px;
    box-shadow: 0 10px 0px -5px #ffac33;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top-left-radius:800px;
    box-sizing: border-box;
  }
  .espumas:nth-child(3) {
    left: 5rem;
    height: 10rem;
    width: 6.7rem;
    top: 7px;
    border-top-left-radius:200px;
    box-sizing: border-box;
  }
  .espumas:nth-child(4) {
    left:11rem;
    height:10rem;
    width:5.9rem;
    top:14px;
    border-top-left-radius:200px;
    box-sizing:border-box;
  }
  .burbuja {
    position: absolute;
    z-index: 9;
    top: 7rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: rgba(254, 255, 255, 0.3);
    opacity: 0;
    animation: burbujaUp 2.8s infinite both ease-in;
    animation: burbujaUp 2.8s infinite both ease-in;
  }
  .burbuja:nth-child(1) {
    left:45%;
    top:50%;
  }
  .burbuja:nth-child(2) {
    left:45%;
    top:67%;
    width: 0.75rem;
    height: 0.75rem;
  }
  .burbuja:nth-child(3) {
    left:45%;
    top:62%;
    width: 0.87rem;
    height: 0.87rem;
  }
  .burbuja:nth-child(4) {
    left:48%;
    top:58%;
  }
  .burbuja:nth-child(5) {
    left:55%;
    top:50%;
    width: 2rem;
    height: 2rem;
  }
  .burbuja:nth-child(6) {
    left:52%;
    top:53%;
  }
  .burbuja:nth-child(7) {
    left:54%;
    top:55%;
  }
  
  @keyframes burbujaUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    50% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translate3d(0, -12rem, 0);
      transform: translate3d(0, -12rem, 0);
    }
  }
  @keyframes burbujaUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    50% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translate3d(0, -12rem, 0);
      transform: translate3d(0, -12rem, 0);
    }
  }
  